.text-2xl {
  font-size: 24px;
  line-height: 32px;
}

.btn-custom {
  background: #83fba1;
  color: #83fba1;
  border: 2px solid red;
  border-radius: 3px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.disabled {
  background-color: -internal-light-dark(
    rgba(239, 239, 239, 0.3),
    rgba(59, 59, 59, 0.3)
  );
  color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
  border-color: rgba(118, 118, 118, 0.3);
}

.form-control-disabled {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white !important;
  background-color: rgba(118, 118, 118, 0.3) !important;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input-custom:disabled {
  color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
  border-color: green !important;
}

.btnColor {
  --bs-btn-bg: #83fba1 !important;
  /* maybe change this later  */
  --bs-btn-hover-bg: #83fba1 !important;
  --bs-btn-border-color: #83fba1 !important;
}
